body {
  background-color: white;
  font-family: monospace;
}

#barbell {
  padding: 2em 2em 2em 7em;
}

#intro {
  margin-right: 30%;
  margin-left: 30%;
}

footer {
  text-align: center;
  padding: 2em;
}

h1 {
  text-align: center;
}

a:link {
  color: hotpink;
  text-decoration: none;
}

a:hover {
  text-transform: uppercase;
}

a:visited {
  color: hotpink;
  text-decoration: none
}

nav {
  text-align: center;
}

p {
  max-width: auto;
  background-image: url(pink_rice.png);
  padding: 1em 1em 0.5em 2em;
}

ul {
  font-family: sans-serif;
}